* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--hmha-color-bg);
  color: var(--hmha-color-text);
  font-family: var(--hmha-font-family);
  font-size: var(--hmha-type-body-md-size);
  line-height: var(--hmha-type-body-md-line);
  font-weight: var(--hmha-type-body-md-weight);
}
